# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
# Vari nomi comuni per virtual env
env/
venv/
.venv/
pip-log.txt

# --- Testing ---
.tox/
.coverage
htmlcov/
.pytest_cache/

# --- IDE & Editor ---
.idea/
.vscode/
*.swp
*.swo

# --- MacOS ---
.DS_Store

# --- Docker / Environment ---
.env
.dockerignore

# --- Project Specific ---
grafana/

